{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Add Classroom</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'classroom_list' %}">Classroom</a></li>
<li class="breadcrumb-item active">Add Classroom</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<form method="post" action="{%url 'add_classroom' %}">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Classroom Details</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Classroom Name</label>
<input type="text" name="name" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Home Teacher</label>
    <select class="form-control" name="home_teacher">

        <option value ="">Select Teacher</option>
        {% for teacher in teachers %}
        <option value ="{{teacher.id}}">{{teacher.user.first_name}} {{teacher.user.last_name}} ({{teacher.user.username}})</option>
        {% endfor %}
    </select>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Capacity</label>
<input type="text" name="capacity" class="form-control">
</div>
</div>
<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}